<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>javawjsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- Controller 설정 -->
<!-- 	<servlet>
		<servlet-name>test2</servlet-name>
		<servlet-class>j1111.Test2</servlet-class>
	</servlet> 

  <servlet-mapping>
  	<servlet-name>test2</servlet-name>
  	<url-pattern>/t2</url-pattern>
  </servlet-mapping> -->
  
  <servlet>
  	<servlet-name>test12</servlet-name>
  	<servlet-class>j1111.Test12</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>test12</servlet-name>		<!-- test12에서 test12ok의 별명을 가진애를 부른다  -->
  	<url-pattern>/test12ok</url-pattern>		<!-- 별명을 가진 -->
  </servlet-mapping>
  
  <!-- 특정 서블릿에 초기 값 할당하기 -->
  <!-- <servlet>
  	<servlet-name>green</servlet-name>
  	<servlet-class>j1117.Green</servlet-class>
  	<init-param>
  		<param-name>mid</param-name>
  		<param-value>admin</param-value>	 admin으로 들ㅇ어오겠따
  	</init-param>
  	<init-param>
  		<param-name>pwd</param-name>
  		<param-value>1234</param-value>	 1234으로 들ㅇ어오겠따
  	</init-param>
  	<init-param>
  		<param-name>className</param-name>
  		<param-value>인사과</param-value>	 인사과으로 들ㅇ어오겠따
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>green</servlet-name>
  	<url-pattern>/Green</url-pattern>  컨트롤러...  
  </servlet-mapping>
   -->
  
  <!-- 공통변수에 초기 값 할당하기  -->
  <context-param>  <!-- 컨텍스트에 파라미터 만들자 -->
  	<param-name>logoName</param-name>
  	<param-value>Java Green Company</param-value>
  </context-param>
  <context-param>  <!-- 컨텍스트에 파라미터 만들자 -->
  	<param-name>homeAddress</param-name>
  	<param-value>http://192.168.50.250:9090/javawjsp/</param-value>
  </context-param>
  
  <!-- 에러페이지 설정 error test1-->
 <!--  <error-page>
  	<error-code>400</error-code>
  	<location>/study/1117/error/error400.jsp</location> 어디로 가라
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/study/1117/error/error404.jsp</location> 어디로 가라
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/study/1117/error/error500.jsp</location> 어디로 가라
  </error-page> -->
  
  <!-- Filter 매핑처리 -->
  <!-- <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>filter.EncodingFilter</filter-class>  필터를 지정할 실제 클래스 이름을 한다..
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>  모든 경로로 들어오는.. ? 인코딩필터를 통과하겠다..
  </filter-mapping> -->
  
</web-app>